interactions:
- request:
    body: grant_type=refresh_token&client_id=REDACTED&client_secret=REDACTED&refresh_token=REDACTED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth2.googleapis.com/token
  response:
    body:
      string: '{"access_token": "REDACTED", "expires_in": 3599, "scope": "https://www.googleapis.com/auth/calendar.app.created
        https://www.googleapis.com/auth/calendar.freebusy", "token_type": "Bearer"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"summary": "CAS Seda Aksoy", "timeZone": "Europe/Istanbul"}'
    headers:
      authorization:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars
  response:
    body:
      string: '{"kind": "calendar#calendar", "etag": "\"hAWlNNKOsuPYTakvuDPnyQV0gv0\"",
        "id": "83bdb438023cc34a6fe4d71d55d28330a33087dcdc52ef8900001300848e7aec@group.calendar.google.com",
        "summary": "CAS Seda Aksoy", "timeZone": "Europe/Istanbul", "dataOwner": "REDACTED",
        "conferenceProperties": {"allowedConferenceSolutionTypes": ["hangoutsMeet"]},
        "labelProperties": {"eventLabels": [{"id": "1149ce53-0f7c-4bc8-af7d-e1a3aa53423f",
        "backgroundColor": "#7cb342"}, {"id": "16d953ff-942a-43be-9047-96becf929086",
        "backgroundColor": "#f6bf26"}, {"id": "27532cd3-826f-491d-b105-4b5f5cd37331",
        "backgroundColor": "#039be5"}, {"id": "2e6ab90a-4d3a-4a39-a08f-f72b34ff4991",
        "backgroundColor": "#a79b8e"}, {"id": "2f2aa017-d562-4cdb-b5f9-8de970514563",
        "backgroundColor": "#0b8043"}, {"id": "2f8c5f85-cf44-44dd-aaa0-edd13116f0fd",
        "backgroundColor": "#f4511e"}, {"id": "3191b208-b0c6-4131-bd6e-057575612ac7",
        "b[...]
[...]
- request:
    body: '{"id": "1521ce4802adb7dd0136af1400da238fd7181699", "summary": "Standup",
      "start": {"dateTime": "2026-09-08T09:00:00+03:00"}, "end": {"dateTime": "2026-09-08T09:15:00+03:00"},
      "extendedProperties": {"private": {"event_id": "event_901", "attendees": "emp_901;emp_902;emp_903"}}}'
    headers:
      authorization:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/83bdb438023cc34a6fe4d71d55d28330a33087dcdc52ef8900001300848e7aec%40group.calendar.google.com/events
  response:
    body:
      string: '{"kind": "calendar#event", "etag": "\"3578326739483742\"", "id": "1521ce4802adb7dd0136af1400da238fd7181699",
        "status": "confirmed", "htmlLink": "https://www.google.com/calendar/event?eid=MTUyMWNlNDgwMmFkYjdkZDAxMzZhZjE0MDBkYTIzOGZkNzE4MTY5OSA4M2JkYjQzODAyM2NjMzRhNmZlNGQ3MWQ1NWQyODMzMGEzMzA4N2RjZGM1MmVmODkwMDAwMTMwMDg0OGU3YWVjQGc",
        "created": "2026-09-11T21:49:29.000Z", "updated": "2026-09-11T21:49:29.741Z",
        "summary": "Standup", "creator": {"email": "REDACTED"}, "organizer": {"email":
        "REDACTED", "displayName": "REDACTED", "self": true}, "start": {"dateTime":
        "2026-09-08T09:00:00+03:00", "timeZone": "Europe/Istanbul"}, "end": {"dateTime":
        "2026-09-08T09:15:00+03:00", "timeZone": "Europe/Istanbul"}, "iCalUID": "1521ce4802adb7dd0136af1400da238fd7181699@google.com",
        "sequence": 0, "extendedProperties": {"private": {"event_id": "event_901",
        "attendees": "emp_901;emp_902;emp_903"}}, "reminders": {"useDefault": true},
        "eventType": "default"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"3578326739483742"'
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"id": "e52c013e22a264fa5fef1690c165ae0b3166354a", "summary": "Customer
      review", "start": {"dateTime": "2026-09-08T13:00:00+03:00"}, "end": {"dateTime":
      "2026-09-08T15:00:00+03:00"}, "extendedProperties": {"private": {"event_id":
      "event_902", "attendees": "emp_901;emp_902"}}}'
    headers:
      authorization:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://www.googleapis.com/calendar/v3/calendars/83bdb438023cc34a6fe4d71d55d28330a33087dcdc52ef8900001300848e7aec%40group.calendar.google.com/events
  response:
    body:
      string: '{"error": {"errors": [{"domain": "global", "reason": "duplicate", "message":
        "The requested identifier already exists."}], "code": 409, "message": "The
        requested identifier already exists."}}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 409
      message: Conflict
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/83bdb438023cc34a6fe4d71d55d28330a33087dcdc52ef8900001300848e7aec%40group.calendar.google.com/events/e52c013e22a264fa5fef1690c165ae0b3166354a?timeZone=UTC
  response:
    body:
      string: '{"kind": "calendar#event", "etag": "\"3578326741941534\"", "id": "e52c013e22a264fa5fef1690c165ae0b3166354a",
        "status": "confirmed", "htmlLink": "https:/[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://www.googleapis.com/calendar/v3/calendars/83bdb438023cc34a6fe4d71d55d28330a33087dcdc52ef8900001300848e7aec%40group.calendar.google.com/events?timeMin=2026-09-06T21%3A00%3A00%2B00%3A00&timeMax=2026-09-13T21%3A00%3A00%2B00%3A00&singleEvents=true&timeZone=UTC&maxResults=250
  response:
    body:
      string: '{"kind": "calendar#events", "etag": "\"p327tjenpo3jpc0o\"", "summary":
        "CAS Seda Aksoy", "description": "", "updated": "2026-09-11T21:49:31.146Z",
        "timeZone": "Europe/Istanbul", "accessRole": "owner", "defaultReminders":
        [], "nextSyncToken": "REDACTED", "items": [{"kind": "calendar#event", "etag":
        "\"3578326739483742\"", "id": "1521ce4802adb7dd0136af1400da238fd7181699",
        "status": "confirmed", "htmlLink": "https://www.google.com/calendar/event?eid=MTUyMWNlNDgwMmFkYjdkZDAxMzZhZjE0MDBkYTIzOGZkNzE4MTY5OSA4M2JkYjQzODAyM2NjMzRhNmZlNGQ3MWQ1NWQyODMzMGEzMzA4N2RjZGM1MmVmODkwMDAwMTMwMDg0OGU3YWVjQGc&ctz=UTC",
        "created": "2026-09-11T21:49:29.000Z", "updated": "2026-09-11T21:49:29.741Z",
        "summary": "Standup", "creator": {"email": "RED[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/83bdb438023cc34a6fe4d71d55d28330a33087dcdc52ef8900001300848e7aec%40group.calendar.google.com
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
[...]
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: DELETE
    uri: https://www.googleapis.com/calendar/v3/calendars/1ccdfc3d716043729efc3e0a031d6b3c24ae0442733940f655057b1bb64c7389%40group.calendar.google.com
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html
      x-l2-request-path:
      - l2-managed-14
    status:
      code: 204
      message: No Content
version: 1
